.shortcodes {
	font-family: 'Merriweather', 'Georgia', 'Times', 'Times New Roman', serif;
	font-size: 10px;
  letter-spacing: .5px;
  /*line-height: 1.25;*/
  /* this is the parent of each element that this module generates */
}

#shortcode-wysiwyg-form label {
	font-size: 16px;
  font-weight: 400;
}
#shortcode-wysiwyg-form .fieldset-legend {
  font-size: 16px;
  font-weight: 400;
}
#shortcode-wysiwyg-form .form-item {
}

#shortcode-wysiwyg-form .colorset .fieldset-wrapper {
	float: left;
}
#shortcode-wysiwyg-form .colorset .fieldset-wrapper .form-item {
	width: 31%;
	float: left;
}
#shortcode-wysiwyg-form .colorset .fieldset-wrapper .form-item label {
  display: inline;
  width: 65%;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
}
#shortcode-wysiwyg-form .colorset .fieldset-wrapper .form-item input {
  float: right;
  width: 35%;
  height: 16px;
  line-height: 16px;
  margin-right: 25px;
}
#shortcode-wysiwyg-form .optionset .fieldset-wrapper .form-item {
	font-size: 14px;
	height: 32px;
  line-height: 32px;
}

#shortcode-wysiwyg-form .optionset .fieldset-wrapper .form-item label {
  display: inline;
  width: 60%;
  height: 16px;
  line-height: 16px;
}
#shortcode-wysiwyg-form .optionset .fieldset-wrapper .form-item input {
  float: right;
  width: 40%;
  height: 16px;
  line-height: 16px;
}
#shortcode-wysiwyg-form .optionset .fieldset-wrapper .form-item select {
  float: right;
  width: 42.5%;
  height: 32px;
  line-height: 32px;
}
