.shortcodes {
	font-family: 'Merriweather', 'Georgia', 'Times', 'Times New Roman', serif;
	font-size: 10px;
  letter-spacing: .5px;
  /*line-height: 1.25;*/
  /* this is the parent of each element that this module generates */
}
h3.rbftitle {
 padding-top: 0;
 padding-bottom: 0;
 margin-bottom: 0;
}
p.rbfsubtext {
	font-family: 'Merriweather', 'Georgia', 'Times', 'Times New Roman', serif;
	letter-spacing: .5px;
  font-size: 8px;
  font-style: italic;
}
/* This is only for styling tables */
.google-visualization-table {
	/* this is the container div */
}
.google-visualization-table-table {
	font-family: 'Merriweather', 'Georgia', 'Times', 'Times New Roman', serif;
	letter-spacing: .5px;

	/* this is the inner table */
}
.google-visualization-table-table .td {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border: solid #eee;
  border-width: 1px 0px 0px 0;
 }
  .headerRow {
		background-color: #364d6e;
		color: white;
		border: 0px solid #364d6e;
  }
  .tableRow {

  }
  .oddTableRow {

  }
  .selectedTableRow {

  }
	.hoverTableRow {

	}
	.headerCell {

	}
	td.tableCell {
		padding-top: 0px !important;
		padding-bottom: 0px !important;

	}
	td.google-visualization-table-td-number {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.rowNumberCell {

	}
	
#shortcode-wysiwyg-form label {
	font-size: 16px;
  font-weight: 400;
}	
#shortcode-wysiwyg-form .fieldset-legend {
  font-size: 16px;
  font-weight: 400;
} 
#shortcode-wysiwyg-form .form-item {
	margin: 0 0 10px;
	vertical-align: baseline;
}
#shortcode-wysiwyg-form .form-wrapper {
	/* width: 100%; */
}
#shortcode-wysiwyg-form .fieldset-wrapper {
	float: left;
}
#shortcode-wysiwyg-form .fieldset-wrapper .form-item label {
  font-size: 14px;
  font-weight: 400;
}
#shortcode-wysiwyg-form .fieldset-wrapper .form-item {
	width: 31%;
	float: left;
}
#shortcode-wysiwyg-form .form-item-title {
	float: left;
	width: 47%;	
}
#shortcode-wysiwyg-form .form-item-subtitle {
	float: left;
  width: 47%;
}
#shortcode-wysiwyg-form .form-item-legal1 {
  float: left;
  width: 47%;
}
#shortcode-wysiwyg-form .form-item-legal2 {
  float: left;
  width: 47%;
}

